# Deny  All , Allow Known (Whitelist)
# Allow All , Deny  Known (Blacklist)

# This is a whitelist

*
!.gitattributes
!.gitignore
!*/

!*.c
!*.h
!*.cpp
!*.hpp
!*.php
!*.css
!*.html
!*.xml

!*.sh
!*.bat

!*.js
!*.json
!*.lua

!*.txt
!*.ini
!*.conf
!*.md
!*.def
!*.cfg

!*.inc
!*.tpl
!*.ttf
!*.png
!*.ogg
!*.key
