# Deny  All , Allow Known (Whitelist)
# Allow All , Deny  Known (Blacklist)

# This is a whitelist
*  -text  -diff
.gitattributes  diff
.gitignore      diff

*.md    diff=markdown
*.adoc  diff

*.sh    diff=bash  eol=lf
*.php   diff=php
*.inc   diff=php

*.tpl   diff=html
*.html  diff=html
*.css   diff=css
*.js    diff

*.txt   diff
*.json  diff
*.quad  diff

*.c     diff=cpp

*.pnach  diff
*.ini    diff
