# Deny  All , Allow Known (Whitelist)
# Allow All , Deny  Known (Blacklist)

# This is a whitelist
*        binary -text -diff
.gitattributes   text
.gitignore       text

!*.md    text

!*.sh    text eol=lf
!*.php   text diff=php
!*.inc   text diff=php

!*.tpl   text diff=html
!*.html  text diff=html
!*.css   text diff=css
!*.js    text

!*.txt   text
!*.json  text
!*.quad  text

!*.c     text diff=cpp
