# Deny  All , Allow Known (Whitelist)
# Allow All , Deny  Known (Blacklist)

# This is a blacklist
# to ignore files without extension

*
!.gitattributes
!.gitignore
!*/

!*.git
!*.md

!*.sh
!*.php
!*.inc

!*.tpl
!*.html
!*.css
!*.js

!*.txt
!*.json
!*.quad

!*.ogg
!*.mp3
!*.aac
!*.m4a

!*.png

!*.zip
!*.iso

!*.bak
!*.c
!*.ttf
