
body {
	background-color : #000;
	color            : #fff;
	font-size        : 1.0em;
	margin           : 0;
	padding          : 0;
	overflow         : auto;
}

main {
	display        : flex;
	flex-direction : row;
	flex-wrap      : wrap;
	align-items    : stretch;
	padding        : 0.5em;
}

.section {
	margin : 0.5em;
	border : #ff0 0.2em solid;
}

.ok {
	color : #0f0;
}
.err {
	color : #f00;
}
