body {
	background-color : #000;
	color            : #fff;
	line-height      : 50px;
}

main * {
	display : block;
}

li {
	border-top     : 1px #fff solid;
	line-height    : 1.5em;
	padding-top    : 1em;
	padding-bottom : 1em;
}

li.current {
	background-color : #ccc;
	color            : #444;
}
