:root {
	--body-bg-color     : #121212;
	--body-text-color   : #ededed;
	--button-bg-color   : #ededed;
	--button-text-color : #121212;
	--border-color      : #808080;
	--mobile-button-size-small   : 42px; /* 11mm */
	--mobile-button-hspace-small : 18px; /* 36px-48px = 10mm-13mm */
	--mobile-button-vspace-small :  9px;
}
body {
	background-color : var(--body-bg-color);
	overflow         : hidden;
	margin           : 0;
	padding          : 0;
	overflow         : hidden;
}
body, a {
	color       : var(--body-text-color);
	font-family : sans-serif;
}

button {
	background-color : var(--button-bg-color);
	color            : var(--button-text-color);
	white-space      : nowrap;
	text-transform   : uppercase;
	margin           : var(--mobile-button-hspace-small)  var(--mobile-button-vspace-small);
	min-width        : var(--mobile-button-size-small);
	height           : var(--mobile-button-size-small);
	padding          : 0;
	border           : 1px var(--border-color) solid;
	box-sizing       : border-box;
}
button.btn_on {
	background-color : #0f0;
	color            : #000;
}

button.btn_off {
	background-color : #f00;
	color            : #fff;
}

h1, h2, h3, h4, h5, h6 {
	text-transform : uppercase;
	border-bottom  : 1px var(--border-color) solid;
}

ul {
	list-style-type : none;
}

.hidden {
	display : none;
}

main,
main > nav {
	display     : flex;
	position    : relative;
	align-items : stretch;
	margin      : 0;
	padding     : 0;
}
main > nav {
	overflow : hidden scroll;
}
#debugger {
	position : relative;
	overflow : hidden;
}
#debugger #quad_data,
#debugger #layerdata {
	position         : absolute;
	top              : 0;
	left             : 0;
	width            : 100%;
	height           : 100%;
	background-color : var(--body-bg-color);
	color            : var(--body-text-color);
	overflow         : scroll;
}
#debugger #layerdata {
	display : none;
}
#debugger #layerdata div {
	display        : flex;
	flex-direction : row;
	flex-wrap      : nowrap;
	align-items    : center;
	align-content  : stretch;
	margin         : 0;
}
#debugger #layerdata select {
	width  : 90%;
	height : var(--mobile-button-size-small);
}

#viewer {
	position         : relative;
	overflow         : hidden;
	background-color : var(--body-bg-color);
}
#viewer canvas,
#viewer_xline,
#viewer_yline {
	position : absolute;
	top      : 0;
	left     : 0;
}
#viewer_xline {
	width        :  50%;
	height       : 100%;
	border-right : 0.5em var(--border-color) solid;
}
#viewer_yline {
	width         : 100%;
	height        :  75%;
	border-bottom : 0.5em var(--border-color) solid;
}
#viewer canvas {
	width    : 100%;
	height   : 100%;
}

#keylist,
#layerlist {
	margin  : 0;
	padding : 0;
}
#keylist p,
#layerlist p {
	border      : 1px var(--border-color) solid;
	padding     : 0 0.5em;
	line-height : var(--mobile-button-size-small);
}
#layerlist .layer_on {
	background-color : var(--body-text-color);
	color            : var(--body-bg-color);
}

@media (orientation:landscape) {
	main {
		flex-direction : row;
	}
	main > nav {
		flex-direction : column;
		width          :  10vw;
		height         : 100vh;
	}
	#viewer {
		width  :  45vw;
		height : 100vh;
	}
	#debugger {
		width  :  45vw;
		height : 100vh;
	}
}

@media (orientation:portrait) {
	main {
		flex-direction : column;
	}
	main > nav {
		flex-direction : row;
		width          : 100vw;
		height         :  10vh;
	}
	#viewer {
		width  : 100vw;
		height :  45vh;
	}
	#debugger {
		width  : 100vw;
		height :  45vh;
	}
}
