:root {
	--body-bg-color     : #121212;
	--body-text-color   : #ededed;
	--button-bg-color   : #ededed;
	--button-text-color : #121212;
	--border-color      : #808080;
	--mobile-button-size-small   : 42px; /* 11mm */
	--mobile-button-hspace-small : 18px; /* 36px-48px = 10mm-13mm */
	--mobile-button-vspace-small :  9px;
}
body {
	background-color : var(--body-bg-color);
}
body, a {
	color       : var(--body-text-color);
	font-family : sans-serif;
}

button {
	background-color : var(--button-bg-color);
	color            : var(--button-text-color);
	white-space      : nowrap;
	text-transform   : uppercase;
	margin           : var(--mobile-button-vspace-small)  var(--mobile-button-hspace-small);
	min-width        : var(--mobile-button-size-small);
	height           : var(--mobile-button-size-small);
	padding          : 0;
	border           : 1px var(--border-color) solid;
	box-sizing       : border-box;
}
button.btn_on {
	background-color : #0f0;
	color            : #000;
}

button.btn_off {
	background-color : #f00;
	color            : #fff;
}

textarea {
	display          : block;
	width            : 95%;
	height           : 25em;
	margin           : 0 auto 0;
	background-color : var(--body-text-color);
	color            : var(--body-bg-color);
	resize           : none;
}

h1, h2, h3, h4, h5, h6 {
	text-transform : uppercase;
	border-bottom  : 1px var(--border-color) solid;
}

ul {
	list-style-type : none;
}

.hidden {
	display : none;
}
.div_range {
	display        : flex;
	flex-direction : row;
	flex-wrap      : nowrap;
	padding        : 0.5em;
}
.div_range input {
	flex-grow : 2;
}

#viewer {
	position         : fixed;
	left             : 0;
	top              : 0;
	width            : 100vw;
	height           : 100vh;
	overflow         : auto;
	display          : none;
	background-color : var(--body-bg-color);
}

#viewer #canvas,
#viewer img {
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
}

#viewer_top_nav,
#viewer_bottom_nav,
#debugger_top_nav {
	position : fixed;
	width    : 100vw;
	display  : block;
	margin   : 0;
	padding  : 0;
	display  : flex;
}
#debugger_top_nav {
	top              : 0;
	left             : 0;
	background-color : var(--body-bg-color);
	border-bottom    : 2px var(--border-color) solid;
	flex-direction   : row;
	flex-wrap        : nowrap;
	justify-content  : space-between;
	align-items      : center;
	align-content    : flex-start;
}
#debugger_top_dummy {
	display : block;
	height  : 60px;
}
#viewer_top_nav {
	top             : 0;
	left            : 0;
	flex-direction  : row;
	flex-wrap       : nowrap;
	justify-content : space-between;
	align-items     : center;
	align-content   : flex-start;
	overflow        : scroll hidden;
}
#viewer_bottom_nav {
	bottom          : 0;
	left            : 0;
	flex-direction  : row;
	flex-wrap       : nowrap;
	justify-content : space-between;
	align-items     : center;
	align-content   : flex-end;
}

#colorize_menu,
#keyattr_menu,
#hitattr_menu,
#export_menu {
	position         : fixed;
	bottom           : 0;
	background-color : var(--body-bg-color);
	display          : none;
	text-align       : center;
	border-top       : 2px var(--border-color) solid;
	padding-top      : 1em;
	width            : 100vw;
}

#export_menu button {
	margin : 1em;
}

#quad_data p {
	line-height     : var(--mobile-button-size-small);
	display         : flex;
	flex-direction  : row;
	flex-wrap       : nowrap;
	justify-content : space-around;
	align-items     : center;
}

#quad_data ul {
	padding : 0;
}
#quad_data ul ul {
	padding-left : var(--mobile-button-size-small);
}

#quad_data .liexpand,
#quad_data .liexport {
	background-color : var(--button-bg-color);
	color            : var(--button-text-color);
	white-space      : nowrap;
	text-transform   : uppercase;
	text-align       : center;
	min-height       : var(--mobile-button-size-small);
	padding          : 0.5em;
	border           : 1px var(--border-color) solid;
}

#quad_data .liname {
	flex-grow : 2;
	border    : 1px var(--border-color) solid;
	padding   : 0 0.5em;
}
#quad_data .current {
	background-color : var(--body-text-color);
	color            : var(--body-bg-color);
}

#quad_data_tags {
	padding-left : var(--mobile-button-size-small);
}
#quad_data_tags p {
	display      : block;
	padding-left : var(--mobile-button-size-small);
}
