body {
	background-color : #404040;
}
body, a, a:hover, a:visited {
	color       : #c0c0c0;
	font-family : sans-serif;
}

button {
	background-color : rgba(255 , 255 , 255 , 0.5);
	white-space      : nowrap;
	text-transform   : uppercase;
	margin           : 18px;
	min-width        : 42px;
	min-height       : 42px;
	padding          : 0.5em;
	border           : 0;
}
button.btn_on {
	background-color : rgba(0 , 255 , 0 , 0.5);
	color            : #000;
}

button.btn_off {
	background-color : rgba(255 , 0 , 0 , 0.5);
	color            : #fff;
}

textarea {
	display          : block;
	width            : 95%;
	height           : 25em;
	margin           : 0 auto 0;
	background-color : #fff;
	color            : #000;
	resize           : none;
}

h1, h2, h3, h4, h5, h6 {
	text-transform : uppercase;
	border-bottom  : 1px #808080 solid;
}

ul {
	list-style-type : none;
}

.hidden {
	display : none;
}

#viewer {
	position : fixed;
	left     : 0;
	top      : 0;
	width    : 100vw;
	height   : 100vh;
	overflow : auto;
	display  : none;
}

#viewer #canvas,
#viewer img {
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
}

#viewer_top_nav,
#debugger_top_nav {
	position        : fixed;
	top             : 0;
	left            : 0;
	width           : 100vw;
	display         : flex;
	flex-direction  : row;
	flex-wrap       : nowrap;
	justify-content : space-between;
	align-items     : center;
}

#viewer_bottom_nav {
	position        : fixed;
	bottom          : 0;
	left            : 0;
	width           : 100vw;
	display         : flex;
	flex-direction  : row;
	flex-wrap       : nowrap;
	justify-content : space-between;
	align-items     : center;
}

#debugger_top_nav {
	position         : fixed;
	background-color : #404040;
	border-bottom    : 2px #c0c0c0 solid;
}

#export_div {
	position         : fixed;
	bottom           : 0;
	background-color : #404040;
	display          : none;
	text-align       : center;
	border-top       : 2px #c0c0c0 solid;
	padding-top      : 1em;
	width            : 100vw;
}

#export_div button {
	margin : 1em;
}

#quad_data p {
	line-height     : 42px;
	display         : flex;
	flex-direction  : row;
	flex-wrap       : nowrap;
	justify-content : space-around;
	align-items     : center;
}

#quad_data ul {
	padding : 0;
}
#quad_data ul ul {
	padding-left : 42px;
}

#quad_data .liexpand,
#quad_data .liexport {
	background-color : rgba(255 , 255 , 255 , 0.5);
	color            : #000;
	white-space      : nowrap;
	text-transform   : uppercase;
	text-align       : center;
	min-height       : 42px;
	padding          : 0.5em;
}

#quad_data .liname {
	flex-grow : 2;
	border    : 1px #c0c0c0 solid;
	padding   : 0 0.5em;
}
#quad_data .current {
	background-color : #c0c0c0;
	color            : #404040;
}

#quad_data_tags {
	padding-left : 42px;
}
#quad_data_tags p {
	display      : block;
	padding-left : 42px;
}
